<div class="row text-center">
    <div class="col-md-3" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing">
                            <h1 class="panel-title panel-title-landing">
                                Full
                            </h1>
                        </div>
                        
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.courses_level_both") %><br>12 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.other_dance") %> <br>3 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <button type="button" class="btn btn-price btn-success btn-lg" data-toggle="modal" data-target="#myModal">120 EUR</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing">
                            <h1 class="panel-title panel-title-landing">
                                Manneken Pis
                            </h1>
                        </div>
                        
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.courses_level_2") %><br>8 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.other_dance") %><br>3 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            
                            <button type="button" class="btn btn-price btn-success btn-lg" data-toggle="modal" data-target="#myModal">100 EUR</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing">
                            <h1 class="panel-title panel-title-landing">
                                Atomium
                            </h1>
                        </div>
                       
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.courses_level_3") %><br>8 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.other_dance") %><br>3 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            
                            <button type="button" class="btn btn-price btn-success btn-lg" data-toggle="modal" data-target="#myModal">100 EUR</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing">
                            <h1 class="panel-title panel-title-landing">
                                Party
                            </h1>
                        </div>
                       
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.friday_workshop") %><br>1 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.saturday_workshop") %><br>1 H</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            
                            <button type="button" class="btn btn-price btn-success btn-lg" data-toggle="modal" data-target="#myModal">35 EUR</button>
                        </div>
                    </div>
                </div>
            </div>
</div>