<div class="row text-center">
    <div class="col-md-3" style="margin-top: 20px; width: 20%;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing-full">
                            <h1 class="panel-title panel-title-landing">
                                Full
                            </h1>
                        </div>
                        
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td><%= t("pass.courses_level_both") %><br>12 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.other_dance") %> <br>3 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <form class="button_to" method="get" target="_blank" action="https://docs.google.com/forms/d/1KTizegRN2aLlNbfhZ5WRmaYztzfORqVzUTYND3Y0Xo0/viewform"><input class="btn btn-price btn-danger btn-lg" type="submit" value="150 EUR"></form>
                            <!--<button type="button" class="btn btn-price btn-danger btn-lg" data-toggle="modal" data-target="#myModal">150 EUR</button>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px; width: 20%;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing-pis">
                            <h1 class="panel-title panel-title-landing">
                                Zinneke
                            </h1>
                        </div>
                        
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td><%= t("pass.courses_level_1") %><br>2 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.party_level_1") %></td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.option_level_1") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <form class="button_to" method="get" target="_blank" action="https://docs.google.com/forms/d/1KTizegRN2aLlNbfhZ5WRmaYztzfORqVzUTYND3Y0Xo0/viewform"><input class="btn btn-price btn-info btn-lg" type="submit" value="40 EUR"></form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px; width: 20%;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing-pis">
                            <h1 class="panel-title panel-title-landing">
                                Manneken Pis
                            </h1>
                        </div>
                        
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td><%= t("pass.courses_level_2") %><br>8 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.other_dance") %><br>3 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <form class="button_to" method="get" target="_blank" action="https://docs.google.com/forms/d/1KTizegRN2aLlNbfhZ5WRmaYztzfORqVzUTYND3Y0Xo0/viewform"><input class="btn btn-price btn-info btn-lg" type="submit" value="120 EUR"></form>
                            <!--<button type="button" class="btn btn-price btn-info btn-lg" data-toggle="modal" data-target="#myModal">120 EUR</button>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px; width: 20%;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing-atomium">
                            <h1 class="panel-title panel-title-landing">
                                Atomium
                            </h1>
                        </div>
                       
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td><%= t("pass.courses_level_3") %><br>8 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.other_dance") %><br>3 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <form class="button_to" method="get" target="_blank" action="https://docs.google.com/forms/d/1KTizegRN2aLlNbfhZ5WRmaYztzfORqVzUTYND3Y0Xo0/viewform"><input class="btn btn-price btn-warning btn-lg" type="submit" value="120 EUR"></form>
                            <!--<button type="button" class="btn btn-price btn-warning btn-lg" data-toggle="modal" data-target="#myModal">120 EUR</button>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px; width: 20%;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing-party">
                            <h1 class="panel-title panel-title-landing">
                                Party
                            </h1>
                        </div>
                       
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td><%= t("pass.friday_workshop") %><br>1 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.saturday_workshop") %><br>1 H</td>
                                </tr>
                                <tr>
                                    <td><%= t("pass.3_parties") %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <form class="button_to" method="get" target="_blank" action="https://docs.google.com/forms/d/1KTizegRN2aLlNbfhZ5WRmaYztzfORqVzUTYND3Y0Xo0/viewform"><input class="btn btn-price btn-primary btn-lg" type="submit" value="40 EUR"></form>
                            <!--<button type="button" class="btn btn-price btn-primary btn-lg" data-toggle="modal" data-target="#myModal">40 EUR</button>-->
                        </div>
                    </div>
                </div>
            </div>
</div>