<div class="row text-center">
    <div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-level1">
					<h1 class="panel-title panel-title-landing">
						Schtroumpfs
					</h1>
					<h2 class="panel-h2-pass">
						<%= t("pass.courses_level_1") %>
					</h2>
				</div>
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br/>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
						<tr>
							<td width="50px">&nbsp;</td>
							<td>&nbsp;<br>&nbsp;</td>
						</tr>
                    </table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2017-01-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-lg btn-level1 disabled" type="submit" value="45 EUR">
						<% else %>
						<input class="btn btn-price btn-lg btn-level1" type="submit" value="45 EUR">
						<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-level2">
					<h1 class="panel-title panel-title-landing">
						Spirou
					</h1>
					<h2 class="panel-h2-pass">
						<%= t("pass.courses_level_2") %>
					</h2>
				</div>
				
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br>5,5 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.other_dance") %><br><%= t("pass.or") %><br><%= t("pass.courses_all") %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2017-01-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-level2 btn-lg disabled" type="submit" value="120 EUR">
						<% else %>
						<input class="btn btn-price btn-level2 btn-lg" type="submit" value="120 EUR">
						<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-level3">
					<h1 class="panel-title panel-title-landing">
						Tintin
					</h1>
					<h2 class="panel-h2-pass">
						<%= t("pass.courses_level_3") %>
					</h2>
				</div>
			   
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br>5,5 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.other_dance") %><br><%= t("pass.or") %><br><%= t("pass.courses_all") %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2017-01-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-level3 btn-lg disabled" type="submit" value="120 EUR">
						<% else %>
						<input class="btn btn-price btn-level3 btn-lg" type="submit" value="120 EUR">
						<% end %>
						</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-level5">
					<h1 class="panel-title panel-title-landing">
						Lucky Luke
					</h1>
					<h2 class="panel-h2-pass">
						<%= t("pass.courses_level_5") %>
					</h2>
				</div>
			   
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br>5 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.other_dance") %><br><%= t("pass.or") %><br><%= t("pass.courses_all") %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2017-01-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-level5 btn-lg disabled" type="submit" value="120 EUR">
						<% else %>
						<input class="btn btn-price btn-level5 btn-lg" type="submit" value="120 EUR">
						<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>