<div class="row text-center">
    <div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-jupiler">
					<h1 class="panel-title panel-title-landing">
						Jupiler
					</h1>
				</div>
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses_level_1") %></td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses) %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
						<tr>
							<td width="50px">&nbsp;</td>
							<td>&nbsp;<br>&nbsp;</td>
						</tr>
                    </table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2016-08-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-danger btn-lg btn-jupiler disabled" type="submit" value="35 EUR">
						<% else %>
						<input class="btn btn-price btn-danger btn-lg btn-jupiler" type="submit" value="35 EUR">
						<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-orval">
					<h1 class="panel-title panel-title-landing">
						Orval
					</h1>
				</div>
				
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses_level_2") %></td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br>7,5 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.other_dance") %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2016-08-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-info btn-lg disabled" type="submit" value="80 EUR">
						<% else %>
						<input class="btn btn-price btn-info btn-lg" type="submit" value="80 EUR">
						<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-duvel">
					<h1 class="panel-title panel-title-landing">
						Duvel
					</h1>
				</div>
			   
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses_level_3") %></td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br>7,5 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.other_dance") %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2016-08-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-warning btn-lg disabled" type="submit" value="80 EUR">
						<% else %>
						<input class="btn btn-price btn-warning btn-lg" type="submit" value="80 EUR">
						<% end %>
						</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3" style="margin-top: 20px;">
		<div class="pricing-table">
			<div class="panel panel-primary" style="border: none;">
				<div class="controle-header panel-heading panel-heading-landing-chimay">
					<h1 class="panel-title panel-title-landing">
						Chimay
					</h1>
				</div>
			   
				<div class="panel-body panel-body-landing">
					<table class="table">
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses_level_5") %></td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.courses") %><br>7 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.other_dance") %><br>2 H</td>
						</tr>
						<tr>
							<td width="50px"><i class="fa fa-check"></i></td>
							<td><%= t("pass.3_parties") %></td>
						</tr>
					</table>
				</div>
				<div class="panel-footer panel-footer-landing">
					<form class="button_to" method="get" target="_blank" action="http://registration.swingplicitybrussels.be">
						<% if Time.now > "2016-08-01 00:00:00 +0200" %>
						<input class="btn btn-price btn-primary btn-lg disabled" type="submit" value="80 EUR">
						<% else %>
						<input class="btn btn-price btn-primary btn-lg" type="submit" value="80 EUR">
						<% end %>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>