<div class="edition_2015_bg">
	<div class="homy"><%= t("edition_2015.title") %></div>
</div>
<div class="container">
<h2><%= t("edition_2015.pictures") %></h2>
<p><%= t("edition_2015.pics_text_2015") %> <%= link_to t("edition_2015.here"), "https://www.flickr.com/gp/franom/PB14T7/", :target => "_blank" %>.</p> 
<p><%= t("edition_2015.pics_text_2016") %> <%= link_to t("edition_2015.here"), "https://www.flickr.com/gp/franom/Nhn269/", :target => "_blank" %>.</p> 
<p><%= t("edition_2015.pics_text_2017") %> <%= link_to t("edition_2015.here"), "https://www.facebook.com/pg/brusselswcs/photos/?tab=album&album_id=904492169686425", :target => "_blank" %>.</p>
<p><%= t("edition_2015.pics_text_2018") %> <%= link_to t("edition_2015.here"), "https://www.facebook.com/pg/brusselswcs/photos/?tab=album&album_id=1114782475324059", :target => "_blank" %>.</p>


<p><%= t("edition_2015.pics_text_2") %></p>

<h2><%= t("edition_2015.videos") %></h2>

<br> 
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vjN9xALsGlo" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/SY6niXrqBnI" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/8r61bmXeiAA" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe src="https://player.vimeo.com/video/201240113" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<p>	<a href="https://vimeo.com/201240113">Swingplicity Brussels 2017 - Maxence Martin and Virginie Grondin - Lead and Follow</a></p>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe src="https://player.vimeo.com/video/201320054" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/201320054">Swingplicity Brussels 2017 - Stanley Seguy and Coleen Man - Lead and Follow</a></p>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe src="https://player.vimeo.com/video/201189964" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/201189964">Swingplicity Brussels 2017 - Emeline Rochefeuille &amp; her men (Maxence, Stanley &amp; Sven)</a></p>
		</div>
		<br>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/MD3TpuFNUZU" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/WGS9I3Bqn5s" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FstFw1k6qAc" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/9gpqw31rvlQ" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/C_AjuL8iyxg" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/DVrtXZJnvA8" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/d4qVtuoObXk" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>


</div>