<div class="edition_2015_bg">
	<div class="homy"><%= t("edition_2015.title") %></div>
</div>
<div class="container">
<h2><%= t("edition_2015.pictures") %></h2>
<p><%= t("edition_2015.pics_text_2015") %> <%= link_to t("edition_2015.here"), "https://www.flickr.com/gp/franom/PB14T7/", :target => "_blank" %>.</p> 
<p><%= t("edition_2015.pics_text_2016") %> <%= link_to t("edition_2015.here"), "https://www.flickr.com/gp/franom/Nhn269/", :target => "_blank" %>.</p> 
<p><%= t("edition_2015.pics_text_2017") %> <%= link_to t("edition_2015.here"), "https://www.facebook.com/pg/brusselswcs/photos/?tab=album&album_id=904492169686425", :target => "_blank" %>.</p>

<p><%= t("edition_2015.pics_text_2") %></p>

<h2><%= t("edition_2015.videos") %></h2>

<br>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/MD3TpuFNUZU" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/WGS9I3Bqn5s" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FstFw1k6qAc" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/9gpqw31rvlQ" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/C_AjuL8iyxg" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/DVrtXZJnvA8" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>

	<div class="col-md-4">
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/d4qVtuoObXk" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
	</div>
</div>


</div>