<div class="home_bg">
	<div class="homy">
		<b>Swingplicity Brussels</b>
		<br>
		

<br><small><span class="little"><%= t("home.baseline") %></span></small>
</div>

	

	

<div class="col-md-4 col-md-offset-4 subscribe_btn">
	<form class="button_to" method="get" target="_blank" action="https://docs.google.com/forms/d/1KTizegRN2aLlNbfhZ5WRmaYztzfORqVzUTYND3Y0Xo0/viewform"><input class="btn btn-lg btn-primary btn-block" type="submit" value="Registration"></form>
<!--<button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#myModal">
 <%= t("signup") %>
</button>-->
</div>
</div>




<div class="container">

	<h1><%= t("home.date") %></h1>

<p><%= t("home.we_invite") %><b><%= t("home.event_name") %></b>. </p>
<p><%= t("home.event_place") %>
</p>

<h3><%= t("home.program") %></h3>

<ul>
<li><%= t("home.first_point") %>
<li><%= t("home.second_point") %>
<li><%= t("home.third_point") %>
<li><%= t("home.fourth_point") %>
<li><%= t("home.fifth_point") %>

</ul>

<p><b><%= t("home.you_can") %><%= link_to t("home.contact_us"), "mailto:info@swingplicitybrussels.be" %> <%= t("home.to_get_info") %> 
</b></p>



</div>




