
<div class="hotel_bg">
		<div class="homy"><%= t("hotel.title") %>
</div>
</div>

<div class="container">

<h1 class="text-center page-header">
	<%= t("hotel.hotel_title") %>
</h1>
<p class="text-center">
	<%= t("hotel.hotel_presentation") %>
	<%= link_to t("hotel.hotel_presentation2"), "http://www.metropolehotel.com" %><%= t("hotel.hotel_presentation3") %>
</p>

<div class="row text-center">
<div class="col-md-4 col-md-offset-1">
<%= image_tag "_DSC0474.jpg", :class => "img-rounded" %>
<p><%= t("hotel.under_hotel_text") %></p>
</div>
<div class="col-md-4 col-md-offset-2">
<%= image_tag "_DSC0445.jpg", :class => "img-rounded" %>
<p><%= t("hotel.under_dancefloor_text") %></p>

</div>
</div>




<h1 class="text-center page-header"><%= t("hotel.rooms_title") %></h1>
<div class="col-md-4">
<%= image_tag "_DSC0467.jpg", :class => "img-rounded" %>
</div>
<div class="col-md-8">
<p><%= t("hotel.rooms_presentation") %> 
	<ul>
		<li><%= t("hotel.rooms_1") %>
		<li><%= t("hotel.rooms_2") %>
		<li><%= t("hotel.rooms_3") %>
		<li><%= t("hotel.rooms_5") %>
	</ul>
	<%= t("hotel.rooms_included") %></p>

	<p><%= t("hotel.rooms_breakfast") %></p>
<p><%= t("hotel.rooms_booking") %></p>

<p><%= link_to t("hotel.rooms_form_download"), "https://gc.synxis.com/rez.aspx?tps=fml&adult=1&step=1&hotel=26999&shell=rBRUHM&chain=10237&template=rBRUHM&avcurrency=USD&promo=SWINGPLICITY", class: "btn btn-primary" %></p>

<p><strong><%= t("hotel.rooms_deadline") %></strong> <br><%= t("hotel.rooms_after_deadline") %></p>

<p><small><%= t("hotel.rooms_ps") %></small></p>
</div>

<!--
<hr>
<h1 class="text-center">Les alentours</h1>
<h2>A proximité</h2>
Quoi voir à distance à pied (texte + photo) -> Julie ou Amandine
<h2>Pour manger</h2>
A ne mettre qu’en décembre/janvier
Si vous cherchez où manger pendant votre séjour avec nous, l’équipe du Swingplicity Brussels a négocié des tarifs préférentiels pour ses participants. 
<h2>Comment arriver à l’hôtel</h2>
-> Julie ou Amandine
Si vous arrivez en train à la gare de Bruxelles midi, prendre métro blabla …
Si vous arrivez en avion à l’aéroport de Bruxelles National Zaventem, blabla …
			   à l’aéroport de Bruxelles Sud Charleroi (low cost), blabla ...
Si vous arrivez en voiture, blabla … (où se garer : delta puis métro, parkings avec prix peut-être réduits, etc) 
-->
</div>
