
<div class="hotel_bg">
		<div class="homy">Hôtel et environs
</div>
</div>

<div class="container">

<h1 class="text-center page-header">
	L’hôtel Métropole
</h1>
<p class="text-center">Comme l’année dernière, Swingplicity Brussels prend ses quartiers dans le somptueux Hôtel Métropole, un hôtel 5 étoiles en plein coeur de Bruxelles.</p>

<div class="row text-center">
<div class="col-md-4 col-md-offset-1">
<%= image_tag "_DSC0474.jpg", :class => "img-rounded" %>
<p>Dans l’hôtel se trouve un bar et un restaurant, et vous serez sur la Grand Place de Bruxelles en 5 minutes à pied.</p>
</div>
<div class="col-md-4 col-md-offset-2">
<%= image_tag "_DSC0445.jpg", :class => "img-rounded" %>
<p>Les cours auront lieu dans la magnifique salle Excelsior, une salle de 350 m² avec parquet.</p>

</div>
</div>




<h1 class="text-center page-header">Les chambres</h1>
<div class="col-md-4">
<%= image_tag "_DSC0467.jpg", :class => "img-rounded" %>
</div>
<div class="col-md-8">
<p>L’équipe du Swingplicity Brussels a négocié les prix pour les participants : 
	<ul>
		<li>99 euros pour une chambre de une ou deux personnes;
		<li>129 euros pour une chambre de trois personnes.
	</ul>
	Sont inclus : les taxes, la connexion internet et 6 boissons dans la chambre (2 softs, 2 bières et 2 eaux).</p>

	<p>Le petit déjeuner n’est pas compris, mais un prix spécial de 14 euros par personne a été négocié spécialement pour vous (pour toute réservation en même temps que la chambre).</p>
<p>Si vous désirez réserver une chambre dans ce magnifique hôtel 5*, veuillez télécharger le document PDF suivant, le remplir en LETTRES MAJUSCULES et le renvoyer par courriel directement à <%= link_to 'resa@metropolehotel.be', 'mailto:resa@metropolehotel.be' %>.</p>

<p><%= link_to "Télécharger le formulaire de réservation", "#", class: "btn btn-primary" %></p>

<p><strong>Attention un certain nombre de chambres est réservé pour les participants du Swingplicity Brussels jusqu’au 15 décembre 2015.</strong> <br>Après cette date, nous ne pourrons plus vous garantir une chambre dans l’hôtel de l’événement.</p>

<p><small>P.S : Le formulaire est en anglais. Si vous avez le moindre souci de compréhension pour le remplir, n’hésitez pas à nous contacter.</small></p>
</div>

<!--
<hr>
<h1 class="text-center">Les alentours</h1>
<h2>A proximité</h2>
Quoi voir à distance à pied (texte + photo) -> Julie ou Amandine
<h2>Pour manger</h2>
A ne mettre qu’en décembre/janvier
Si vous cherchez où manger pendant votre séjour avec nous, l’équipe du Swingplicity Brussels a négocié des tarifs préférentiels pour ses participants. 
<h2>Comment arriver à l’hôtel</h2>
-> Julie ou Amandine
Si vous arrivez en train à la gare de Bruxelles midi, prendre métro blabla …
Si vous arrivez en avion à l’aéroport de Bruxelles National Zaventem, blabla …
			   à l’aéroport de Bruxelles Sud Charleroi (low cost), blabla ...
Si vous arrivez en voiture, blabla … (où se garer : delta puis métro, parkings avec prix peut-être réduits, etc) 
-->
</div>
