<div class="pass_bg">
	<div class="homy"><%= t("pass.title") %></div>
</div>



<div class="container">
	<h1><%= t("pass.pass_title") %></h1>

	<div role="tabpanel">

  <!-- Nav tabs -->
  <div class="row">

  <div class="col-md-8 col-md-offset-3">

  	<ul class="nav nav-pills text-center" role="tablist">

    <li role="presentation">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
        Super Early Bird<br>
        <small><%= t("pass.til_31_july") %></small>
      </a>
    </li>

    <li role="presentation">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Early Bird<br><small><%= t("pass.til_31_oct") %></small>
      </a>
    </li>
    <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Lazy Bird<br><small><%= t("pass.til_31_dec") %></small></a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Later Bird<br><small><%= t("pass.after_31_dec") %></small></a></li>
  </ul>
</div>
</div>

  <!-- Tab panes -->
  <div class="tab-content">

  <div role="tabpanel" class="tab-pane" id="home">
      <%= render "super_early_bird" %>
    </div>
  <div role="tabpanel" class="tab-pane" id="profile">
      <%= render "early_bird" %>
    </div>
    <div role="tabpanel" class="tab-pane active" id="messages">
      <%= render "lazy_bird" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      <%= render "later_bird" %>
    </div>
  </div>

</div>


<ul>
  <li>
    <strong><%= t("pass.group_offer") %></strong>
    <br/>
    <%= t("pass.group_offer_text") %>
  </li>
  <li>
    <strong><%= t("pass.offer_10e") %></strong>
    <br/>
    <%= t("pass.offer_10e_text") %>
  </li>
  <li>
    <strong><%= t("pass.offer_super_early") %></strong>
    <br/>
    <%= t("pass.offer_super_early_text") %>
  </li>
  <li>
    <strong><%= t("pass.offer_free") %></strong>
    <br/>
    <%= t("pass.offer_free_text") %>
  </li>
</ul>

<h1><%= t("pass.party_title") %>
</h1>

<p><%= t("pass.party_warning") %></p>
<div class="row text-center">
  <div class="col-md-3 col-md-offset-2" style="margin-top: 20px;">
    <div class="pricing-table">
      <div class="panel panel-primary" style="border: none;">
        <div class="controle-header panel-heading panel-heading-landing-friday">
            <h1 class="panel-title panel-title-landing">
              <%= t("workshops.friday") %>
            </h1>
        </div>
                        
        <div class="panel-body panel-body-landing">
          <%= t("pass.workshops_included") %>
        </div>
        
        <div class="panel-footer panel-footer-landing">
          <a href="#" class="btn btn-price btn-primary btn-lg">15 EUR</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="margin-top: 20px;">
    <div class="pricing-table">
      <div class="panel panel-primary" style="border: none;">
        <div class="controle-header panel-heading panel-heading-landing-saturday">
            <h1 class="panel-title panel-title-landing">
              <%= t("workshops.saturday") %>
            </h1>
        </div>
                        
        <div class="panel-body panel-body-landing">
          <%= t("pass.workshops_included") %>
        </div>
        
        <div class="panel-footer panel-footer-landing">
          <a href="#" class="btn btn-price btn-primary btn-lg">20 EUR</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="margin-top: 20px;">
    <div class="pricing-table">
      <div class="panel panel-primary" style="border: none;">
        <div class="controle-header panel-heading panel-heading-landing-sunday">
            <h1 class="panel-title panel-title-landing">
              <%= t("workshops.sunday") %>
            </h1>
        </div>
                        
        <div class="panel-body panel-body-landing">
          <%= t("pass.party_only") %>
        </div>
        
        <div class="panel-footer panel-footer-landing">
          <a href="#" class="btn btn-price btn-primary btn-lg">10 EUR</a>
        </div>
      </div>
    </div>
  </div>
</div>

<h1><%= t("pass.terms_title") %></h1>

<%= t("pass.terms_1") %> 
<span class="col-md-11 col-md-offset-1">
<p><%= t("pass.iban") %> 
<br><%= t("pass.bic") %>
<br><%= t("pass.communication") %>
</p>
</span>

<p><%= t("pass.charter_acceptance") %></p>
<p><%= link_to t("pass.charter_download"), "http://www.swingplicitybrussels.be/charter.pdf", class: "btn btn-primary", target: "_blank" %></p>
</div>