<div class="pass_bg">
	<div class="homy"><%= t("pass.title") %></div>
</div>



<div class="container">
	<h1><%= t("pass.pass_title") %></h1>

	<div role="tabpanel">

  <!-- Nav tabs -->
  <div class="row">

  <div class="col-md-8 col-md-offset-3">

  	<ul class="nav nav-pills text-center" role="tablist">

    <li role="presentation" <% if Time.now < "2017-08-19 00:00:00 +0200" %>class="active"<% end %>>
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Super Early Bird<br><small><%= t("pass.til_31_july") %></small></a>
    </li>
    <li role="presentation" <% if Time.now > "2017-08-19 00:00:00 +0200" and Time.now < "2017-11-01 00:00:00 +0200" %>class="active"<% end %>>
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Early Bird<br><small><%= t("pass.til_31_oct") %></small></a>
    </li>
    <li role="presentation" <% if Time.now > "2017-11-01 00:00:00 +0200" and Time.now < "2018-01-01 00:00:00 +0200" %>class="active"<% end %>>
		<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Lazy Bird<br><small><%= t("pass.til_31_dec") %></small></a>
	</li>
    <li role="presentation" <% if Time.now > "2018-01-01 00:00:00 +0200" %>class="active"<% end %>>
		<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Later Bird<br><small><%= t("pass.after_31_dec") %></small></a>
	</li>
  </ul>
</div>
</div>

  <!-- Tab panes -->
  <div class="tab-content">

  <div role="tabpanel" class="tab-pane <% if Time.now < "2017-08-19 00:00:00 +0200" %>active<% end %>" id="home">
      <%= render "super_early_bird" %>
    </div>
  <div role="tabpanel" class="tab-pane <% if Time.now > "2017-08-19 00:00:00 +0200" and Time.now < "2017-11-01 00:00:00 +0200" %>active<% end %>" id="profile">
      <%= render "early_bird" %>
    </div>
    <div role="tabpanel" class="tab-pane <% if Time.now > "2017-11-01 00:00:00 +0200" and Time.now < "2018-01-01 00:00:00 +0200" %>active<% end %>" id="messages">
      <%= render "lazy_bird" %>
    </div>
    <div role="tabpanel" class="tab-pane <% if Time.now > "2018-01-01 00:00:00 +0200" %>active<% end %>" id="settings">
      <%= render "later_bird" %>
    </div>
  </div>

</div>


<ul>
  <li>
    <strong><%= t("pass.couple_offer") %></strong>
    <br/>
    <%= t("pass.couple_offer_text") %>
  </li>
  <li>
    <strong><%= t("pass.group_offer") %></strong>
    <br/>
    <%= t("pass.group_offer_text") %>
  </li>
  <li>
    <strong><%= t("pass.offer_10e") %></strong>
    <br/>
    <%= t("pass.offer_10e_text") %>
  </li>
  <li>
    <strong><%= t("pass.offer_super_early") %></strong>
    <br/>
    <%= t("pass.offer_super_early_text") %>
  </li>
  <li>
    <strong><%= t("pass.offer_free") %></strong>
    <br/>
    <%= t("pass.offer_free_text") %>
  </li>
</ul>


<h1><%= t("pass.terms_title") %></h1>

<%= t("pass.terms_1") %> 
<span class="col-md-11 col-md-offset-1">
<p><%= t("pass.iban") %> 
<br><%= t("pass.bic") %>
<br><%= t("pass.communication") %>
</p>
</span>

<p><%= t("pass.charter_acceptance") %></p>
<p><%= link_to t("pass.charter_download"), "http://www.swingplicitybrussels.be/charter.pdf", class: "btn btn-primary", target: "_blank" %></p>
</div>