<div class="teachers_bg">
	<div class="homy"><%= t("teachers.title") %></div>
</div>

<div class="container">
<br>
<br>
<div role="tabpanel">

  <!-- Nav tabs -->
  <div class="row text-center">
  <div class="col-md-8 col-md-offset-4">
  	<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%= t("teachers.prof_title_menu_1") %></h1></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= t("teachers.prof_title_menu_2") %></a></li>
    
  </ul>
</div>
</div>

  <!-- Tab panes -->
  <div class="tab-content text-center">
    <div role="tabpanel" class="tab-pane active" id="home">

    	<h2 class="text-center"><%= t("teachers.prof_title_1") %></h2>
    	<div class="row">
			<div class="col-md-4 col-md-offset-1">
				
				<%= image_tag "Maxence-1.png", :size => "150x150", :class => "img-circle" %>
				<br>

				<p><%= t("teachers.max_1") %>
				<p><%= t("teachers.max_2") %>
				<p><%= t("teachers.max_3") %>
				<p><%= t("teachers.max_4") %>
			</div>

	    	<div class="col-md-4 col-md-offset-2">
	    		<%= image_tag "Virginie-1.png", :size => "150x150", :class => "img-circle" %>
				<br>

		    	<p><%= t("teachers.virg_1") %>
				<p><%= t("teachers.virg_2") %>
	    	</div>
	    </div>
<div class="row col-md-6 col-md-offset-3">
			<%= image_tag "MaxenceNinie.jpg", :size => "583x389", :class => "img-rounded" %><br>
    		<p><%= t("teachers.max_virg") %></p>
    		<br>
</div>
<div class="row">
	    	<div class="col-md-4 col-md-offset-1">
	    		<p class="text-center">
					<div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VFGelelIrqM" frameborder="0" allowfullscreen></iframe>
				</div>
				<br><%= t("teachers.max_virg_video_1") %>
				</p>
	    	
			</div>
			<div class="col-md-4 col-md-offset-2">
				<p class="text-center">
					<div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VHuyI6i7Oww" frameborder="0" allowfullscreen></iframe>
				</div>
				<br><%= t("teachers.max_virg_video_2") %>
				</p>
			 
			</div>
		
		</div>
		
    </div>


    <div role="tabpanel" class="tab-pane" id="profile">

    	<h2 class="text-center"><%= t("teachers.prof_title_2") %></h2>
		<br>
		<div class="row">
    	<div class="col-md-4 col-md-offset-1">
    		<%= image_tag "Stanley.png", :size => "150x150", :class => "img-circle" %>
				<br>

    		<p><%= t("teachers.stan_1") %>
			<p><%= t("teachers.stan_2") %>
			<p><%= t("teachers.stan_3") %>
			<p><%= t("teachers.stan_4") %>

    	</div>
    	<div class="col-md-4 col-md-offset-2">
    		<%= image_tag "Coleen.png", :size => "150x150", :class => "img-circle" %>
				<br>

    		<p><%= t("teachers.col_1") %>
			<p><%= t("teachers.col_2") %>
			<p><%= t("teachers.col_3") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<%= image_tag "stanley_coleen1.jpg" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "stanley_coleen2.jpg" %>
		</div>
	</div>
	<div class="row">
		<br>
		<div class="col-md-4">
			<p class="text-center">
					<div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/b6OgO0f4Ci8" frameborder="0" allowfullscreen></iframe>
				</div>
				<br><%= t("teachers.stan_col_video_1_a") %>
				<br><%= t("teachers.stan_col_video_1_b") %>
				</p>
			



		</div>
		<div class="col-md-4">
			<p class="text-center">
					<div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ipwF4xIOPOs" frameborder="0" allowfullscreen></iframe>
				</div>
				<br><%= t("teachers.stan_col_video_2_a") %>
				<br><%= t("teachers.stan_col_video_2_b") %>
				</p>

		</div>
		<div class="col-md-4">
			<p class="text-center">
					<div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/xLL13zvNm6g" frameborder="0" allowfullscreen></iframe>
				</div>
				<br><%= t("teachers.stan_col_video_3_a") %>
				<br><%= t("teachers.stan_col_video_3_b") %>
				</p>

		</div>
	</div>
    </div>
   
  </div>

</div>


 


</div>