<div class="workshops_bg">
		<div class="homy"><%= t("workshops.title") %></div>
</div>
<div class="container">
	<div role="tabpanel">
		<!-- Nav tabs -->
		<div class="row">
			<br>
			<br>
			<hr>
			<div class="col-md-4 col-md-offset-5">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
							<%= t("workshops.planning") %>
						</a>
					</li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= t("workshops.levels") %></a></li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">
			<h1><%= t("workshops.planning") %></h1>
			<p>
				<br><%= t("workshops.planning_presentation") %>
				<br><%= t("workshops.planning_presentation_2") %>
			</p>
			<div class="row">	
				<br>
				<h3>
					<%= t("workshops.friday") %>
				</h3>
				<br>
				<div class="col-md-3">
					<ul class="list-group"> 
					  <li class="list-group-item active">
					  
						<%= t("workshops.salle1") %> <small><%= t("workshops.20_three") %></small>
					  </li> 
					  <li class="list-group-item">
						
						<%= t("workshops.friday_1") %><br/>Sven & Emeline
						<span class="label label-info"><%= t("workshops.level_2") %></span>
						<span class="label label-warning"><%= t("workshops.level_3") %></span>
						<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item list-group-item-success">
						<%= t("workshops.friday_2") %>
					  </li>
					</ul>
				</div>
				
				<div class="col-md-3">
					<ul class="list-group"> 
					  <li class="list-group-item active">
						<%= t("workshops.salle2") %> <small><%= t("workshops.20_three") %></small>
					  </li> 
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					</ul>
				</div>

			</div>
			<div class="row">		
				<br>
				<h3>
					<%= t("workshops.saturday") %>
				</h3>
				<br>
				<div class="col-md-4">
					<ul class="list-group">
					  <li class="list-group-item active">
					   
						<%= t("workshops.salle1") %> <small><%= t("workshops.10_three") %></small>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_1") %>
						<span class="label label-info"><%= t("workshops.level_2") %></span>
						<span class="label label-warning"><%= t("workshops.level_3") %></span>
						<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item list-group-item-info">  
						<%= t("workshops.saturday_2") %>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_4") %> 
						<span class="label label-info" style="text-align: right;"><%= t("workshops.level_2") %></span>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_5") %>
						<span class="label label-warning" style="text-align: right;"><%= t("workshops.level_3") %></span>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_5_bis") %>
						<span class="label label-info" style="text-align: right;"><%= t("workshops.level_2") %></span>
					  </li>
						<li class="list-group-item list-group-item-info">
						<%= t("workshops.saturday_6") %>
					  </li>
					  <li class="list-group-item list-group-item-success">  
						<%= t("workshops.saturday_8") %>
					  </li>
					</ul>
				</div>

				<div class="col-md-4">
				<ul class="list-group">
					  <li class="list-group-item active">
					   
						<%= t("workshops.salle2") %> <small><%= t("workshops.10_three") %></small>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_1b") %>
						<span class="label label-info"><%= t("workshops.level_2") %></span>
						<span class="label label-warning"><%= t("workshops.level_3") %></span>
						<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item list-group-item-info">  
						<%= t("workshops.saturday_2bis") %>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_3") %>
						<span class="label label-warning" style="text-align: right; background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.saturday_5_ter") %>
						<span class="label label-info" style="text-align: right; background-color:#FF5555;"><%= t("workshops.level_1") %></span>
					  </li>
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					</ul>
				</div>

			</div>
			
			<div class="row">		
				<br>
				<h3>
					<%= t("workshops.sunday") %>
				</h3>
				<br>
				<div class="col-md-4">
					<ul class="list-group">
					  <li class="list-group-item active">
						
						<%= t("workshops.salle1") %> <small><%= t("workshops.10_midnight") %></small>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.sunday_1") %>
						<span class="label label-info"><%= t("workshops.level_2") %></span>
						<span class="label label-warning"><%= t("workshops.level_3") %></span>
						<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item list-group-item-info">  
						<%= t("workshops.sunday_2") %>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.sunday_4") %> 
						<span class="label label-warning" style="text-align: right;"><%= t("workshops.level_3") %></span>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.sunday_5") %>
						<span class="label label-info" style="text-align: right;"><%= t("workshops.level_2") %></span>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.sunday_5_bis") %>
						<span class="label label-warning" style="text-align: right;"><%= t("workshops.level_3") %></span>
					  </li>
					  <li class="list-group-item list-group-item-success">
						<%= t("workshops.sunday_6") %>
					  </li>
					</ul>
				</div>
				
				<div class="col-md-4">
					<ul class="list-group">
					  <li class="list-group-item active">
						
						<%= t("workshops.salle2") %> <small><%= t("workshops.10_midnight") %></small>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.sunday_1b") %>
						<span class="label label-info"><%= t("workshops.level_2") %></span>
						<span class="label label-warning"><%= t("workshops.level_3") %></span>
						<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item list-group-item-info">  
						<%= t("workshops.sunday_2bis") %>
					  </li>
					  <li class="list-group-item">
						<%= t("workshops.sunday_3") %>
						<span class="label label-warning" style="text-align: right; background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
					  </li>
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					</ul>
				</div>

			</div>
			
			<p>
				<small>
					<br><%= t("workshops.warning") %>
				</small>
			</p>
		</div>

		<div role="tabpanel" class="tab-pane" id="profile">
			<h1><%= t("workshops.levels") %></h1>
			<p>
				<br><%= t("workshops.levels_presentation") %>
			</p>
			<br>

			<div class="row">
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%; background-color: #FF5555;">
							<%= t("workshops.level_1") %>
						</div>
					</div>
					
					<p>
						<%= t("workshops.level_1_a") %> 
						<br><%= t("workshops.level_1_b") %>
					</p>
				</div>
				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
					    <%= t("workshops.level_2") %>
					  </div>
					</div>
					
					<p>
						<%= t("workshops.level_2_a") %> 
						<br><%= t("workshops.level_2_b") %>

					</p>
				</div>

				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
					    <%= t("workshops.level_3") %>
					  </div>
					</div>
					
					<p>
						<%= t("workshops.level_3_a") %>
						<br><%= t("workshops.level_3_b") %>

					</p>
				</div>
				
				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;background-color: #2C5AA0;">
					    <%= t("workshops.level_5") %>
					  </div>
					</div>
					
					<p>
						<%= t("workshops.level_5_a") %>
						<br><%= t("workshops.level_5_b") %>

					</p>
				</div>
			</div>
			
		</div>
    </div>
</div>