<div class="workshops_bg">
		<div class="homy"><%= t("workshops.title") %></div>
</div>
<div class="container">
	<div role="tabpanel">
		<!-- Nav tabs -->
		<div class="row">
			<br>
			<br>
			<hr>
			<div class="col-md-4 col-md-offset-5">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
							<%= t("workshops.planning") %>
						</a>
					</li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= t("workshops.levels") %></a></li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">
			<h1><%= t("workshops.planning") %></h1>
			<p>
				<br><%= t("workshops.planning_presentation") %>
				<br><%= t("workshops.planning_presentation_2") %>
			</p>
			<div class="row">	
				<br>
				<h3>
					<%= t("workshops.friday") %> <small>(20h - 3h)</small>
				</h3>
				<br>
				<div class="col-md-5">
					<ul class="list-group"> 
					  <li class="list-group-item active">
					  
						<%= t("workshops.salle1") %>
					  </li> 
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">20h - 21h</td>
								<td>
									<%= t("workshops.friday_1") %><br/><i><%= t("workshops.with") %> Sven & Emeline</i><br/>
									<span class="label label-info"><%= t("workshops.level_2") %></span>
									<span class="label label-warning"><%= t("workshops.level_3") %></span>
									<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-success">
						<table>
							<tr>
								<td width="100px">21h - 3h</td>
								<td>
									<%= t("workshops.friday_2") %>
								</td>
							</tr>
						</table>
					  </li>
					</ul>
				</div>
				<div class="col-md-5">
					<ul class="list-group"> 
					  <li class="list-group-item active">
						<%= t("workshops.salle2") %>
					  </li> 
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					</ul>
				</div>
			</div>
			
			<div class="row">		
				<br>
				<h3>
					<%= t("workshops.saturday") %> <small>10h - 3h</small>
				</h3>
				<br>
				<div class="col-md-5">
					<ul class="list-group">
					  <li class="list-group-item active">
					   
						<%= t("workshops.salle1") %>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">10h - 11h</td>
								<td>
									<%= t("workshops.saturday_1b") %><br/>
									<span class="label label-info"><%= t("workshops.level_2") %></span>
									<span class="label label-warning"><%= t("workshops.level_3") %></span>
									<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">11h - 12h</td>
								<td>
									<%= t("workshops.saturday_1") %><br/><i><%= t("workshops.with") %> Emeline</i><br/>
									<span class="label label-info"><%= t("workshops.level_2") %></span>
									<span class="label label-warning"><%= t("workshops.level_3") %></span>
									<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-info">  
						<table>
							<tr>
								<td width="100px">12h - 13h</td>
								<td>
									<%= t("workshops.saturday_2") %>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">13h - 14h30</td>
								<td>
									<%= t("workshops.saturday_4") %><br/><i><%= t("workshops.with") %> Stanley & Coleen</i><br/>
									<span class="label label-info" style="text-align: right;"><%= t("workshops.level_2") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">14h45 - 16h15</td>
								<td>
									<%= t("workshops.saturday_5") %><br/><i><%= t("workshops.with") %> Maxence & Virginie</i><br/>
									<span class="label label-warning" style="text-align: right;"><%= t("workshops.level_3") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">16h30 - 18h</td>
								<td>
									<%= t("workshops.saturday_5_bis") %><br/><i><%= t("workshops.with") %> Maxence & Virginie</i><br/>
									<span class="label label-info" style="text-align: right;"><%= t("workshops.level_2") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-info">
						<table>
							<tr>
								<td width="100px">18h - 20h</td>
								<td>
									<%= t("workshops.saturday_6") %>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-success">  
						<table>
							<tr>
								<td width="100px">20h - 3h</td>
								<td>
									<%= t("workshops.saturday_8") %>
								</td>
							</tr>
						</table>
					  </li>
					</ul>
				</div>

				<div class="col-md-5">
				<ul class="list-group">
					  <li class="list-group-item active">
						<%= t("workshops.salle2") %> 
					  </li>
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">12h30 - 14h30</td>
								<td>
									<%= t("workshops.saturday_3") %><br/><i><%= t("workshops.with") %> Maxence & Virginie</i><br/>
									<span class="label label-warning" style="text-align: right; background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">16h - 18h</td>
								<td>
									<%= t("workshops.saturday_5_ter") %><br/><i><%= t("workshops.with") %> Stanley & Coleen</i><br/>
									<span class="label label-info" style="text-align: right; background-color:#FF5555;"><%= t("workshops.level_1") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					</ul>
				</div>

			</div>
			
			<div class="row">		
				<br>
				<h3>
					<%= t("workshops.sunday") %> <small>10h - 00h</small>
				</h3>
				<br>
				<div class="col-md-5">
					<ul class="list-group">
					  <li class="list-group-item active">
						
						<%= t("workshops.salle1") %> 
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">10h - 11h</td>
								<td>
									<%= t("workshops.sunday_1b") %><br/>
									<span class="label label-info"><%= t("workshops.level_2") %></span>
									<span class="label label-warning"><%= t("workshops.level_3") %></span>
									<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">11h - 12h</td>
								<td>
									<%= t("workshops.sunday_1") %><br/><i><%= t("workshops.with") %> Emeline</i><br/>
									<span class="label label-info"><%= t("workshops.level_2") %></span>
									<span class="label label-warning"><%= t("workshops.level_3") %></span>
									<span class="label label-warning" style="background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-info">  
						<table>
							<tr>
								<td width="100px">12h - 13h</td>
								<td>
									<%= t("workshops.sunday_2") %>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">13h - 14h30</td>
								<td>
									<%= t("workshops.sunday_4") %><br/><i><%= t("workshops.with") %> Maxence & Virginie</i><br/>
									<span class="label label-warning" style="text-align: right;"><%= t("workshops.level_3") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">14h45 - 16h15</td>
								<td>
									<%= t("workshops.sunday_5") %><br/><i><%= t("workshops.with") %> Maxence & Virginie</i><br/>
									<span class="label label-info" style="text-align: right;"><%= t("workshops.level_2") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">13h - 14h30</td>
								<td>
									<%= t("workshops.sunday_5_bis") %><br/><i><%= t("workshops.with") %> Stanley & Coleen</i><br/>
									<span class="label label-warning" style="text-align: right;"><%= t("workshops.level_3") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-success">
						<table>
							<tr>
								<td width="100px">18h - 00h</td>
								<td>
									<%= t("workshops.sunday_6") %>
								</td>
							</tr>
						</table>
					  </li>
					</ul>
				</div>
				
				<div class="col-md-5">
					<ul class="list-group">
					  <li class="list-group-item active">
						
						<%= t("workshops.salle2") %>
					  </li>
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					  <li class="list-group-item">
						<table>
							<tr>
								<td width="100px">14h30 - 16h30</td>
								<td>
									<%= t("workshops.sunday_3") %><br/><i><%= t("workshops.with") %> Stanley & Coleen</i><br/>
									<span class="label label-warning" style="text-align: right; background-color: #2C5AA0;"><%= t("workshops.level_5") %></span>
								</td>
							</tr>
						</table>
					  </li>
					  <li class="list-group-item list-group-item-info">
						<%= t("workshops.closed") %>
					  </li>
					</ul>
				</div>

			</div>
			
			<p>
				<small>
					<br><%= t("workshops.warning") %>
				</small>
			</p>
		</div>

		<div role="tabpanel" class="tab-pane" id="profile">
			<h1><%= t("workshops.levels") %></h1>
			<p>
				<br><%= t("workshops.levels_presentation") %>
			</p>
			<br>

			<div class="row">
				<div class="col-md-6">
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%; background-color: #FF5555;">
							<%= t("workshops.level_1") %>
						</div>
					</div>
					
					<p>
						<%= t("workshops.level_1_a") %> 
						<br><%= t("workshops.level_1_b") %>
					</p>
				</div>
				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
					    <%= t("workshops.level_2") %>
					  </div>
					</div>
					
					<p>
						<%= t("workshops.level_2_a") %> 
						<br><%= t("workshops.level_2_b") %>

					</p>
				</div>

				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
					    <%= t("workshops.level_3") %>
					  </div>
					</div>
					
					<p>
						<%= t("workshops.level_3_a") %>
						<br><%= t("workshops.level_3_b") %>

					</p>
				</div>
				
				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;background-color: #2C5AA0;">
					    <%= t("workshops.level_5") %>
					  </div>
					</div>
					
					<p>
						<%= t("workshops.level_5_a") %>
						<br><%= t("workshops.level_5_b") %>

					</p>
				</div>
			</div>
			
		</div>
    </div>
</div>