<%# add navigation links to this file %>

<!--
=======
>>>>>>> 863e068b55d5c5c215497e4b0bba4e4ec6ef3980
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
<% end %>
<<<<<<< HEAD
-->


<li><%= link_to t("home.menu"), root_path %></li>
<li><%= link_to t("teachers.menu"), teachers_path %></li>
<li><%= link_to t("workshops.menu"), workshops_path %></li>
<li><%= link_to t("hotel.menu"), hotel_path %></li>
<li><%= link_to t('pass.menu'), prices_path %></li>
<li><%= link_to t("edition_2015.menu"), edition_2015_path %></li>
<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= t("language") %> <span class="caret"></span>
        </a>
	<ul class="dropdown-menu">
            <li><%= link_to t("FR"), url_for(:locale => 'fr') %></li>
            <li><%= link_to t("EN"), url_for(:locale => 'en') %></li>
          </ul>
      </li>
<li><%= button_to "Inscriptions", root_path(:anchor => 'subscribe'), class: "btn btn-primary navbar-btn", :method => :get %></li>
<!-- <li><button type="button" class="btn btn-primary navbar-btn" id="#subscribe">Inscriptions</button></li> -->





