<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Swingplicity Brussels" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Swingplicity Brussels" %>">
    <meta name="keywords" content="Swingplicity, Profeseurs, Bruxelles, Danse, West Coast Swing, WCS">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <!-- <main role="main">
    </main> -->
    <%= render 'layouts/messages' %>  
    <%= yield %>
  </body>
  <footer>
      <nav class="navbar navbar-inverse text-center footer-nav" role="navigation">
        <p>COPYRIGHT (C) 2015 BRUSSELS WCS ASBL</p>
        <small>Crédits photographiques : 
          <%= link_to "François Brouckaert", "https://www.flickr.com/photos/franom/", :target => "_blank" %>,
           Denis Belekian, 
           Emeline Rochefeuille, 
          <%= link_to "Anja Klaucke", "http://finallymoving.com", :target => "_blank", :class => "courtesy" %>

        </small>
        <br>
        <span class="fa-stack fa-lg">
          <a href="http://www.facebook.com/events/1105289436164600/" target="_blank">
              <i class="fa fa-circle fa-stack-2x swingcolor"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
        </span>

        <span class="fa-stack fa-lg">
          <a href="mailto:info@swingplicitybrussels.be" target="_blank">
              <i class="fa fa-circle fa-stack-2x swingcolor"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </a>
        </span>
      </nav>

  </footer>
</html>
